[Unit]
Description=Declarative Policy-Based VPN Router
After=network.target systemd-networkd.service
Documentation=https://github.com/gtstudis/vpn-policy-router

[Service]
Type=oneshot
ExecStart=/usr/local/bin/vpn-apply.py
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
