[Unit]
Description=Run VPN Router State Enforcement periodically
Documentation=https://github.com/gtstud/vpn-apply.timer

[Timer]
OnBootSec=30s
OnUnitActiveSec=15min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target
